.root {
  font-family: Georgia;
}

.Header {
  padding: 2rem;
  padding-bottom: 0rem;
  text-align: center;
}

.PageGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-right: 35px;
  align-items: start;
}

.SideBar {
  display: flex;
  flex-direction: column;
  margin: 15px 35px 0 50px;
  padding: 25px 20px 0;
  /* border: 2px solid #d1a480; */
  /* border-radius: 10px; */
  /* box-shadow: 0 1px 1px #d1a480; */
}

/* .Cart {
  border-radius: 10px;
  background-color: #f6d0b199;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
